.main{
    padding:100px 80px;
}

body{
    font-family: "Avenir Next";
}
li{
    list-style: none;
}
.footer-logo{
    float: left;
    font-size: 32px;
}
.footer-list{
    float: right;
}
.footer-list li{
    padding-bottom: 20px;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header {
  background-color: #11052C;
  color: #fff;
  height: 90px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 50px;
}

.header{
    background-color: #F43B86;
    color: #fff;
    height: 90px;
}
.header-logo{
    float: left;
    font-size: 40px;
    padding: 20px 40px;
}
.header-list li {
    float: left;
    padding: 33px 20px;
}
.main{
    background-color: #FFE459;
    height: 600px;
}
.footer{
    background-color: #3D087B;
    color: #fff;
    height: 120px;
    padding: 40px;
}

.copy-container h1{
    font-size:140px;
    font-family: Lucida bright;
    letter-spacing: 8px;
    margin-bottom: 1px;
    position: relative;
    animation: text 3s 1;
    color: ;

}

.copy-container h2{
    font-size:60px;
    font-family: Lucida bright;
}

.copy-container span{
    color:red;
}
.section-title{
    border-bottom:2px solid #dee7ec;
    font: size 38px;
    padding-bottom:15px;
    margin-bottom:50px;

}

.contents {
    height:500px;
    margin: 80px 40px;
}

.contents-item{
    float:left;
    padding: 10px;
   

}

.contents-item p{
    font-family: Lucida Bright;
    font: size 24px;
    margin: top 30px;
    text-align: center;
}

.contents-item img{
    width: 250px;
    height: 250px;
}

/* Untuk Tablet */
@media all and (max-width: 1000px) {
	.copy-container h1 {
		font-size: 32px;
	}
	.copy-container h2 {
		font-size: 32px;
	}
	.contents {
    width: 50%;
    margin-bottom: 50px;
  }
}


/* Untuk Smartphone */
@media all and (max-width: 670px) {
 	.contents {
    width: 100%;
  }
	footer {
    text-align: center;
  }
}


@keyframes text {
    0%{
        color: black;
        margin-bottom: -40px;
    }
